@import "tailwindcss";

:root{
  --background:#030712;
  --surface:#0b1120;
  --primary:#ff6b2c;
  --secondary:#ff2d8d;
  --purple:#7c3aed;
  --blue:#2563eb;
  --text:#ffffff;
}

html{
  scroll-behavior:smooth;
}

body{
  background:var(--background);
  color:white;
  overflow-x:hidden;
  font-family:var(--font-body);
}

h1,h2,h3,h4,h5,h6{
  font-family:var(--font-heading);
}

.gradient-text{
  background:linear-gradient(
  90deg,
  #ff7b00,
  #ff2d8d,
  #7c3aed,
  #2563eb
  );
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

.gradient-bg{
  background:linear-gradient(
  90deg,
  #ff7b00,
  #ff2d8d,
  #7c3aed,
  #2563eb
  );
}

.glass{
  background:rgba(255,255,255,.06);
  backdrop-filter:blur(20px);
  border:1px solid rgba(255,255,255,.08);
}

.section{
  max-width:1400px;
  margin:auto;
  padding-inline:32px;
}